{% extends 'base.html' %}
{% load static %}
{% block title %} Blog Search {% endblock %}

{% block content %}
<h3> search results... </h3>

{% for f in find %}
<article>
    <!-- Post header-->
    <header class="mb-4">
        <!-- Post title-->
        <h1 class="fw-bolder mb-1"> {{f.title}} </h1>
        <!-- Post meta content-->
        <div class="text-muted fst-italic mb-2">Posted on {{f.created_on}} by admin</div>
        <!-- Post categories-->
        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
    </header>
</article>
{% endfor %}

{% endblock %}